body {
  font-family: 'Short Stack', helvetica, sans-serif;
  margin: 0 auto;
  max-width: 1000px;
}

header,
main,
footer {
  background: #ffffcc;
  background-color: #ffffe6;
  background-image:
    linear-gradient(
      #ffffe6, #ffffcc
    );
  min-width: 600px;
  text-align: center;
}

header {
  background: #4d4d4d;
  height: 95px;
  letter-spacing: .2em;
  padding: 10px;
}

main {
  height: 700px;
  padding: 20px 10px;
}

h1 {
  color: #fff;
  display: inline-block;
  font-size: 40px;
  line-height: 1em;
  margin: 0;
}

h1 span {
  font-size: 45px;
}

button {
  box-shadow: 3px 3px #666;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: 'Short Stack', cursive;
  outline: none;
  cursor: pointer;
}

.homeBtn,
.backBtn,
.parentAdmin {
  border-radius: 5px;
  float: left;
  height: 80px;
  padding: 2px;
  width: 80px;
}

.homeBtn img,
.parentAmin img {
  height: 75%;
}

.timerBtn img {
  height: 90%;
}

.timerBtn {
  background-color: #fff;
  border-radius: 5px;
  float: right;
  height: 80px;
  padding: 2px;
  width: 80px;
}

.homeBtn:active,
.backBtn:active,
.parentAdmin:active,
.timerBtn:active {
  background-color: #f2f2f2;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 2px 0;
}

.navBtn {
  border-radius: 10px;
  font-size: 30px;
  height: 100px;
  letter-spacing: .2em;
  margin: 20px;
  padding: 20px;
  text-align: left;
  width: 500px;
}

.navBtn:active {
  background-color: #f2f2f2;
  padding: 8px 20px 0;
}

button .labels {
  border-radius: 5px;
  display: none;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  margin: -4px -2px;
  padding: 30px 0 0;
  text-align: center;
  width: 80px;
}

button:hover .labels,
button:active .labels {
  background: #f2f2f2;
  color: #000;
  display: block;
  opacity: .7;
  position: absolute;
  top: 15px;
}
button:active .labels {
  height: 44px;
  padding: 36px 0 0;
}

.indAskImg{
  margin: 5px;
  border-color: black;
  border-style:solid;
  border-width:thick;
}

.askBoard {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  font-size: 40px;
  height: 90px;
  margin: 20px 20px 40px;
  padding: 20px;
  text-align: left;
}

.recentImgs {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  font-size: 20px;
  height: 110px;
  margin: 20px;
  padding: 10px;
  text-align: left;
}

.imgGallery {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex inline-block;
  font-size: 20px;
  height: 300px;
  margin: 20px;

  display: inline-block;
  padding: 10px;
  /*text-align: left;*/
  clear: right;
  overflow-y: scroll;

  padding: 10px;

}

.indAskImg{
  border: 4px solid #000;
  height: 100px;
  margin: 5px;
  width: 100px;
}

.chosenPic{
  height: 90px;
  margin-left: 20px;
}

/* @media
  (min-device-width: 800px)
  and (max-device-width: 1280px) {
}
@media
  (max-device-width: 800px)
  and (orientation: portrait) {
}
@media
  (max-device-width: 1280px)
  and (orientation: landscape) {
} */