body {
  font-family: 'Short Stack', helvetica, sans-serif;
  margin: 0 auto;
  max-width: 1000px;
}

.header,
main, 
footer {
  min-width: 700px;
  text-align: center;
}

.header {
  background: #4d4d4d; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 120px;
  letter-spacing: .2em;
  margin: 0 0 40px;
  top: 0;
  justify-content: space-between;
}

.hidden {
  display: none;
}

main {
  background: #ffffcc; 
  background-color: #ffffe6;
  background-image:
    linear-gradient(
      #ffffe6, #ffffcc
    );
  height: 100%;
  min-height: 700px;
  padding: 0 0 20px;
}

h1 {
  color: #fff;
  display: inline-block;
  font-size: 45px;
  line-height: 1em;
  margin: 15px 0;
}

h1 span {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

button {
  box-shadow: 3px 3px #666;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: 'Short Stack', cursive;
  outline: none;
  cursor: pointer;
}

.headerBtn {
  border-radius: 5px;
  display: inline-block;
  float: left;
  height: 80px;
  margin: 20px;
  padding: 2px;
  width: 80px;
}

.headerBtn img{
  height: 80%;
  text-align: center;
}

.homeBtn:active,
.parentAdmin:active,
.timerBtn:active {
  background-color: #f2f2f2;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 2px 0;
}

.navBtn {
  border-radius: 10px;
  font-size: 30px;
  height: 100px;
  letter-spacing: .2em;
  margin: 20px;
  padding: 20px;
  text-align: left;
  width: 500px;
}

.navBtn img {
  float: left;
  height: 60px;
  margin-right: 30px;
}

.navBtn:active {
  background-color: #f2f2f2;
  padding: 8px 20px 0;
}

button .labels {
  border-radius: 5px;
  display: none;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  margin: 4px -2px;
  padding: 30px 0 0;
  text-align: center;
  width: 80px;
}

button:hover .labels,
button:active .labels {
  background: #f2f2f2;
  color: #000;
  display: block;
  opacity: .7;
  position: absolute;
  top: 15px;
}

button:active .labels {
  height: 44px;
  padding: 36px 0 0;
}

.askBoard,
.commentBoard {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  font-size: 80px;
  height: 100px;
  margin: 20px 20px 40px;
  padding: 20px;
}

.recentImgs {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 20px;
  height: 120px;
  margin: 20px;
  padding: 10px;
}

.imgGallery {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 20px;
  height: 300px;
  margin: 20px;
  overflow-y: scroll; 
  padding: 10px;
}

.verbGallery {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 20px;
  height: 120px;
  margin: 20px;
  overflow-y: scroll; 
  padding: 10px;
}

.indAskImg{
  border: 4px solid #000;
  cursor: pointer;
  height: 100px;
  margin: 5px;
  padding: 2px;
  width: 100px;
}

.Purple {
  border: 4px solid purple;
}

.Orange {
  border: 4px solid orange;
}

.Blue {
  border: 4px solid blue;
}

.Yellow {
  border: 4px solid yellow;
}

.Green {
  border: 4px solid green;
}

.Red {
  border: 4px solid red;
}

.Black {
  border: 4px solid black;
}

button.yellow,
button.blue,
button.red,
button.green {
  border-radius: 5px;
  box-shadow: 3px 3px #666;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: 'Short Stack', cursive;
  height: 60px;
  margin: 20px;
  outline: none;
  padding: 2px;
  cursor: pointer;
  width: 100px;
}

.indAskImg:hover,
.indAskImg:active {
  background: #f2f2f2;
  opacity: .7;
  padding: 3px 2px 1px;
}

.chosenVerb,
.chosenPic {
  height: 100px;
  margin-left: 30px;
  width: 100px;
}

#loader { 
  fill: #99ff99; 
}

#border { 
  fill: #00663d; 
}

svg {
  top: 300px;
}

.timerDiv {
  background-color: #99ff99;
  border: 5px solid #00663d;
  border-radius: 50%;
  height: 400px;
  margin: 40px auto;
  width: 400px;
}

.enterTime {
  border-radius: 5px;
  font-size: 20px;
  height: 50px;
  width: 200px;

}

.scheduleItems {
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 5px;
  width: 300px;
}

.scheduleImg {
  height: 50px;
  width: 50px;
}

/* @media
  (min-device-width: 800px)
  and (max-device-width: 1280px) {
}
@media
  (max-device-width: 800px)
  and (orientation: portrait) {
}
@media
  (max-device-width: 1280px)
  and (orientation: landscape) {
} */