main {
	font-family: Arial;
	text-align: center;
 	border: 1px solid black;
 	height: 500px;
}

.navBtn {
	height: 50px;
	width:500px; 
	margin: 10px;

}

.admin {
	height: 20px;
	width: 20px;
	margin-top: 1px
	margin-right: 2px;

}
