main {
	font-family: Arial;
	text-align: center;
 	border: 1px solid black;
 	height: 500px;
 	width: 600px;
}

.navBtn {
	height: 50px;
	width:500px; 
	margin: 10px;
}

.askBoard{
	display: flex;
	height: 90px;
	width: 400px;
	background-color: #ffffe6;
	border: 1px solid black; 
}

.imgGallery{
	border: 1px solid black; 
}

.recentImgs{
	border: 1px solid black; 
}


